<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8" />
    <title>CSS</title>
    <style>
      .container {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 100px minmax(min-content, max-content) 100px 100px;
        grid-template-areas: 
        "header header header"
        "left-menu main ad"
        "recommend recommend recommend"
        "footer footer footer";
      }
      .container > main {
        background-color: yellow;
      }
      header {
        grid-area: header;
        text-align: center;
      }
      #left_menu_container {
        grid-area: left-menu;
      }
      main {
        grid-area: main;
      }
      #ad {
        grid-area: ad;
      }
      #recommend {
        grid-area: recommend;
      }
      footer {
        grid-area: footer;
      }
      .post {
        margin: 10px;
        margin-bottom: 100px;
      }
    
    </style>
  </head>
  <body>
    <div class="container">
      
      <header>
        <p>블로그명: B개발자의 하루</p>
        <a href="/login">로그인</a> <a href="/regist">로그인</a>
      </header>


      <div id="left_menu_container">
        <div>왼쪽 메뉴바 입니다.</div>
        <% if(typeof menus !== "undefined") { %>
          <% menus.forEach( (menu, index) => { %>
            <div class="items"><%= menu.name %></div>
          <% }) %>
        <% } %>
      </div>


      <main>
        <div>메인 글 영역입니다</div>

        <% if(typeof posts !== "undefined") { %>
          
            <% posts.forEach( (post, index) => { %>
              <table class="post">
                <tr>
                  <td> 제목: <%= post.title %></td>
                </tr>
                <tr>
                  <td> 작성일: <%= post.rgs_date %> </td>
                </tr>
                <tr>
                  <td> 내용 : <%= post.content %> </td>
                </tr>

                <tr>
                  <td> 댓글 </td>
                </tr>
              </table>
                
            <% }) %>

          </table>
          
        <% } %>
        

      </main>
      
      
      <div id="ad">
        구글님 광고 자리
      </div>
      

      <div id="recommend">
        <div>추천 게시글</div>
      </div>


      <footer>푸터: 오늘 커밋했니?</footer>

    </div>



    
    
  </body>
</html>
