<html>
  <head>
    
  </head>
  
  <body>
    <a href="/logout">로그아웃</a>
    <form action="http://localhost:9090/login" method="post">
      <p>id: </p><input type="text" name="id" ></input>
      <p>pw: </p><input type="password" name="pw" ></input>
      <button type="submit">로그인</button>
    </form> 
  </body>

  
</html>