<html>
  <head>
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  </head>

<script>
  // 저장 버튼
  function fn_submit() {

    var idVal = $("#id").val();
    if (idVal == null || idVal == '') {
      alert("아이디를 입력해 주세요.");
      $('#password').focus();
      return;
    }

    // 비밀번호 필수값 체크, 정규식 체크	- 영문, 숫자, 특수문자를 조합한 9~20자리
    var pwVal = $("#password").val();
    var pwReg = /^(?=.*[a-zA-Z])(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{9,20}$/; // 검증에 사용할 정규식 변수 regExp에 저장 
    if (pwVal.match(pwReg) == null || pwVal.match(pwReg) == '' || pwVal == null || pwVal == '') {
      alert('비밀번호 형식에 맞춰 입력해 주세요.');
      $('#password').val('');
      $('#password').focus();
      return;
    }
    // 비밀번호확인 필수값체크
    if ($('#password_cfm').val() == '') {
      alert('비밀번호 확인을 입력해 주세요!');
      $('#password_cfm').focus();
      return;
    }
    // 비밀번호와 비밀번호확인 값이 같은지 확인
    if ($('#password').val() != '' && $('#password_cfm').val() != '') {
      if ($('#password').val() != $('#password_cfm').val()) {
        $('#password_cfm').val('');
        $('#passowrdw_cfm').focus();
        alert('새 비밀번호와 확인이 서로 다릅니다. 다시 입력해 주세요!.');
        return;
      }
    }

    // 이름 필수값 체크, 정규식 체크	 - 형식 : 한글 2~5자리	
    var nmVal = $("#name").val();
    var nmReg = /^[가-힣]{2,5}$/; // 검증에 사용할 정규식 변수 regExp에 저장 
    if (nmVal.match(nmReg) == null || nmVal.match(nmReg) == '' || nmVal == null || nmVal == '') {
      alert('이름 형식에 맞춰 입력해 주세요.');
      $('#name').val('');
      $('#name').focus();
      return;
    }



    // // 핸드폰번호 필수값체크, 정규식 체크 - 형식 : 000-0000-0000
    // var mpVal = $("#MOBILE").val();
    // var mpReg = /^(?:(010-\d{4})|(01[1|6|7|8|9]-\d{3,4}))-(\d{4})$/; // 검증에 사용할 정규식 변수 regExp에 저장 
    // if (mpVal.match(mpReg) == null || mpVal.match(mpReg) == '' || mpVal == null || mpVal == '') {
    //   alert('휴대전화번호 형식에 맞춰 입력해 주세요.');
    //   $('#MOBILE').val('');
    //   $('#MOBILE').focus();
    //   return;
    // }

    alert("관리자등록이 완료 되었습니다.");

    form.action = "/registAction";
    form.submit();
  }

  function fn_idChek(){
    var idVal = $("#id").val(); 
    var idReg = /^[A-Za-z0-9_\-]{5,20}$/;
    if (idVal.match(idReg) == null || idVal.match(idReg) == '' || idVal == null || idVal == '') { 
      alert('아이디 형식에 맞춰 입력해 주세요.'); 
      $('#id').focus();
      return;
    } else {	
      
    $.ajax({
      url : '/checkId',
      data : {id:$('#id').val()},   //전송파라미터
      type : 'POST',
      dataType : 'json',
      success : function(result) {
        var checkIdResult = result.checkId;
        alert(checkIdResult);
        if(checkIdResult == "ok"){
          $('#checkIdDone').val("y");
          alert("사용가능한 아이디 입니다.");
  // 					return true;
        }else{
          alert("사용중인 아이디입니다. 다시 입력해 주세요.");
          form.id.focus();
          return false;
        }
      },
      error : function() { // Ajax 전송 에러 발생시 실행
        alert('오류가 발생했습니다.\n관리자에게 문의 바랍니다.','e');
      },
      complete : function(result) { // success, error 실행 후 최종적으로 실행
        
      }
    });	
    }
  }



</script>

  <body>
    <p>관리자 등록</p>
    <form id="form" action="http://localhost:9090/regist_action" method="post">
      <p>아이디: </p><input id="id" type="text" name="id"  ></input>
      <button type="button" class="btn_inside" onclick="javascript:fn_idChek();"><b>아이디 중복 확인</b></button>
      <p>비밀번호: </p><input id="password" type="password" name="password" ></input>
      <p>비밀번호 확인: </p><input id="password_cfm" type="password" name="password_cfm" ></input>
      <p>이름: </p><input id="name" type="text" name="name" ></input>
      <select id="authCode" name="authCode">
        <% auths.forEach(function(auth, index) { %>
          <option value="<%= auth.auth_code %>"><%= auth.auth_name %></option>  
        <% }) %>
      </select>  
      <button type="button" onclick="fn_submit();">등록</button>
      <input type="hidden" id="checkIdDone" name="checkIdDone" value="n">
    </form>
  </body>
  
</html>